@model ASPNET03_portfolioWebApp.Models.TempPortfolioModel // PortfolioModel을 사용하면 안된다!
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<div style="padding:50px;" class="mt-5">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-8">
                <h2 class="text-primary">Create</h2>
            </div>
            <div class="col-4 text-end">
            </div>
        </div>
    </div>
    <div class="container">
    <hr />
        <form asp-action="Create" enctype="multipart/form-data"> @*enctype 넣어줘야한다*@ 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" value="PORTFOLIO" readonly />
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortfolioImage" class="control-label"></label>
                <input asp-for="PortfolioImage" class="form-control" type="file" accept=".png, .jpg, .jpeg"/>
                <span asp-validation-for="PortfolioImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-3" />
                <a asp-action="Index" class="btn btn-primary my-3">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
